.main-content {
    width: 60vh;
    height: 200vh;
    background-color: rgb(163, 220, 251);
}
.cangiua {
    width: 60vh;
    height: 250px;
    background-color: rgb(163, 220, 251);
    text-align: center;
}
h1 {
    color:rgb(34, 125, 174)

}
h2 {
    color:rgb(34, 125, 174);
}
.box1 {
    width: 60vh;
    height: 300px;
}
.little-box2 {
    width: 60vh;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: linear-gradient(90deg,#2fb8de,#fff);

}
.box-info{
    margin-left: 5px;
    margin-color: #fff;
}
